<div *ngIf="company">
  <h1>Company {{company.name}}</h1>

  <br/><br/>

  <form class="form-horizontal">
    <field label="Name">
      <input [(ngModel)]="company.name"/>
    </field>
    <field label="Tags">
      <span *ngFor="#label of company.tags" style="font-size:14px; margin-right: 5px"
             class="label label-default">
         {{label}}
      </span>
    </field>
    <field label="Address">
      <input [(ngModel)]="company.address.street"/><br/>
      <input [(ngModel)]="company.address.zipcode"/><br/>
      <input [(ngModel)]="company.address.city"/>
    </field>
  </form>

  <br/><br/>

  <a href="/#/companies">Back to the list</a>
</div>